<!doctype html>
<html class="no-js" lang="es-CO">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Programa de fidelizacion | come y gana app | comeygana</title>
    <meta name="description" content="Comeygana te ofrece una nueva experiencia para ordenar y ganar medallas para redimirlos por recompensas cuando vayas a tus restaurantes favoritos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.comeygana.com/" rel="canonical" title="Canonical URL">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <div id="sidenav-bg" class="sidenav-bg"></div>
    </header>

    <nav class="mat-toolbar animated fadeInDown">
        <div class="nav-wrapper container">
            <a href="https://www.comeygana.com" class="logo">
                <img src="img/logo-comeygana.png" alt="comeygana - Fideliza a tus clientes de manera fácil">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="https://app.comeygana.com/" title="Tienes un restaurante?">INGRESO PARA RESTAURANTE</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/gana-por-comer" title="Gana por comer">GANA POR COMER</a>
                </li>
            </ul>

            <button type="button" class="nav-bar-toggle" onclick="openNav()">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </button>
        </div>
    </nav>

    <nav id="sidenav-dev" class="sidenav">
        <div class="sidenav-item">
            <ul>
                <li>
                    <a href="/gana-por-comer" title="Gana por comer">GANA POR COMER</a>
                </li>
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
                <li>
                    <a href="https://app.comeygana.com/" title="Tienes un restaurante?">INGRESO PARA RESTAURANTE</a>
                </li>
            </ul>
        </div>
    </nav>

    <article class="home">
        <section class="main home-image">
            <div class="container">
                <div class="init-title">
                    <h1 class="animated fadeInDown">Quieres ser premiado por comer?</h1>
                    <h3 class="sub-title animated fadeInDown">Ahora ya puedes ser recompensado en tus restaurantes favoritos</h3>
                </div>
            </div>
            <div style="background-color: rgba(21,21,21,.8)"></div>
        </section>

        <section>
            <div class="container">
                <div class="opacity-cero revealOnScroll text-align-center section-heading-top" data-animation="fadeInDown" data-timeout="300">
                    <h2 class="section-title">
                        <img src="img/trofeo.png" alt="come y gana" title="come y gana" />
                        <span>Soy cliente de restaurante</span>
                    </h2>
                </div>
                <div class="get-app">
                    <div class="left">
                        <h3 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Gana el doble de medallas para redimir en el primer restaurante al que vayas!</h3>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Descarga la app totalmente gratis, visita tu restaurante favorito, come y acumula medallas para redimir
                            por lo que más te gusta.
                            <a href="/gana-por-comer" class="primary-color">Descubre como funciona</a>
                        </p>

                        <img src="img/descargar-desde-google-play.png" title="Descargar desde Google Play" alt="Descargar desde Google Play" class="badges opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300" style="margin-right: 8px" />
                        <img src="img/descargar-desde-app-store.png" title="Descargar desde App Store" alt="Descargar desde App Store" class="badges opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300" />
                    </div>
                    <div class="right display-mobile">
                        <img src="img/ordenar-desde-el-celular.png" title="Ordenar desde el celular" alt="Ordenar desde el celular" class="opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="500">
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="opacity-cero revealOnScroll text-align-center section-heading-top section-heading-bootom" data-animation="fadeInDown"
                    data-timeout="300">
                    <h2 class="section-title">
                        <img src="img/restaurante.png" alt="Para restaurantes" title="Para restaurantes" />
                        <span>Tengo un restaurante</span>
                    </h2>
                </div>
                <div class="get-app">
                    <div class="left display-mobile">
                        <img src="img/programa-de-fidelizacion.png" title="Aplicación para el administrador" alt="Aplicación web y móvil para el administrador"
                            class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                    </div>
                    <div class="right">
                        <h3 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">350 medallas gratis para fidelizar tus clientes!</h3>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Registra tu restaurante y recibe un paquete de 350 medallas totalmente gratis y podrás gestionar
                            tu menú, definir recompensas y fidelizar a tus clientes.
                            <a href="/tienes-un-restaurante" class="primary-color">Descubre como funciona</a>
                        </p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Regístrate sin costo</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    <h3 class="section-title">Nuestros precios</h3>
                </div>
                <div class="get-app">
                    <div class="pricing-row">
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                            <div class="transition-shadow shadow s-active">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-gratis.png" alt="Paquete de 2000 medallas totalmente gratis" title="Paquete de 2000 medallas" />
                                    <div class="pricing-label">
                                        <h4>GRATIS</h4>
                                        <h2>$0</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">350</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="https://app.comeygana.com/admin-signup" class="primary mat-raised-button">Obtener</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                            <div class="transition-shadow shadow">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-normal.png" alt="Paquete normal de 500 medallas" title="Paquete normal de medallas" />
                                    <div class="pricing-label">
                                        <h4>NORMAL</h4>
                                        <h2>$28.900</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">300</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="disabled mat-raised-button">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="700">
                            <div class="transition-shadow shadow">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-ejecutiva.png" alt="Paquete ejecutiva de 1000 medallas" title="Paquete ejecutiva de medallas" />
                                    <div class="pricing-label">
                                        <h4>EJECUTIVA</h4>
                                        <h2>$34.900</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">500</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="disabled mat-raised-button">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="900">
                            <div class="transition-shadow shadow">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-a-la-carta.png" alt="Paquete a la carta de 1000 medallas" title="Paquete a la carta de medallas" />
                                    <div class="pricing-label">
                                        <h4>A LA CARTA</h4>
                                        <h2>$38.900</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">700</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="disabled mat-raised-button">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <footer class="fixed">
        <div class="container">
            <div class="footer-row">
                <a href="https://www.comeygana.com/">
                    <img src="img/logo-comeygana-footer.png" title="comeygana" alt="comeygana">
                </a>
                <span class="app-flex-filler"></span>

                <a href="https://www.facebook.com/comeygana/" target="_blank">
                    <img src="img/facebook.png" title="comeygana en facebook" alt="comeygana en facebook" class="social-network">
                </a>

                <a href="https://twitter.com/ComeyganaApp" target="_blank">
                    <img src="img/twitter.png" title="comeygana en twitter" alt="comeygana en twitter" class="social-network">
                </a>

                <a href="https://www.instagram.com/comeygana/" target="_blank">
                    <img src="img/instagram.png" title="comeygana en instagram" alt="comeygana en instagram" class="social-network">
                </a>
            </div>
            <div class="display-flex">
                <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    <h4 class="primary-color">Contáctanos</h4>
                    <p>
                        <strong>Realbind SAS</strong>
                        <br/> +57 () 9897867
                        <br/> Calle 98 #18-71 Piso 2, Bogotá Colombia
                        <br/>
                        <strong>Email:</strong> contacto@realbind.com
                    </p>
                </div>
                <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="400">
                    <h4 class="primary-color">Con apoyo de</h4>
                    <div>
                        <a href="https://hubbog.com/" target="_blank">
                            <img src="img/hubbog.png" title="Con el apoyo de Hubbog" alt="Graduado aceleradora hubbog" class="footer-ca-img">
                        </a>
                        <a href="https://developer.ibm.com/startups/" target="_blank">
                            <img src="img/ibm.png" title="IBM Global Entrepreneur" alt="Con el apoyo de IBM Global Entrepreneur" class="footer-ca-img">
                        </a>
                    </div>
                </div>
                <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                    <a href="https://hubbog.com/" target="_blank" class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                        <img src="img/emblema-acelerados.png" title="Acelerados en Hubbog" alt="Emblema acelerados en Hubbog" class="img-section">
                    </a>
                </div>
            </div>
        </div>
        <div class="copy">
            <span>comeygana © 2018. Todos los derechos reservados</span>
        </div>
    </footer>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>