<!doctype html>
<html class="no-js" lang="es-CO">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Programa de fidelizacion de clientes | comeygana</title>
    <meta name="description" content="comeygana app, permite incentivar y fidelizar a tus clientes para que acumulen y rediman puntos por recompensas en el restaurante">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <div id="sidenav-bg" class="sidenav-bg"></div>
    </header>

    <nav class="mat-toolbar animated fadeInDown">
        <div class="nav-wrapper container">
            <a href="http://www.comeygana.com" class="logo">
                <img src="img/logo-comeygana.png" alt="comeygana - Fideliza a tus clientes de manera fácil">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">INGRESO PARA RESTAURANTE</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="active" href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/gana-por-comer" title="Gana por comer">GANA POR COMER</a>
                </li>
            </ul>

            <button type="button" class="nav-bar-toggle" onclick="openNav()">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </button>
        </div>
    </nav>

    <nav id="sidenav-dev" class="sidenav">
        <div class="sidenav-item">
            <ul>
                <li>
                    <a href="/gana-por-comer" title="Gana por comer">GANA POR COMER</a>
                </li>
                <li>
                    <a class="active" href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
                <li>
                    <a href="/" title="Tienes un restaurante?">INGRESO PARA RESTAURANTE</a>
                </li>
            </ul>
        </div>
    </nav>

    <article class="home">
        <section class="main restaurant-image">
            <div class="container">
                <div class="init-title">
                    <h1 class="medium animated fadeInDown">Programa de fidelización de clientes para restaurantes</h1>
                    <a href="/tienes-un-restaurante" class="primary mat-raised-button animated fadeInDown">Comienza ahora mismo</a>
                </div>
            </div>
            <div style="background-color: rgba(21,21,21,.8)"></div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div>
                        <div class="columns">
                            <div class="inner-column">
                                <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Hazlo tu mismo!</h2>
                                <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Registrate y recibe 350 medallas totalmente gratis para que comiences a fidelizar a tus clientes.
                                    Tu mismo podrás implementar comeygana en tu restaurante sin esperas
                                </p>
                                <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Cada medalla equivale a una visita de tu cliente, y estas solo se descontarán de tu paquete
                                    cuando sean redimidas
                                </p>
                                <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                                    data-timeout="500">Comienza ya gratis</a>
                            </div>
                        </div>
                        <div class="columns">
                            <img src="img/hazlo-tu-mismo.png" title="Hazlo tu mismo!" alt="IngHazlo tu mismo!" class="img-border opacity-cero revealOnScroll"
                                data-animation="fadeInDown" data-timeout="300">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="get-app">
                    <div class="row">
                        <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                            <img src="img/fidelizar-clientes.png" title="Fidelizar clientes" alt="Fideliza a tus clientes">
                            <h3 class="primary-color">Fideliza</h3>
                            <p>
                                a los clientes de tu restaurante
                            </p>
                        </div>
                        <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="400">
                            <img src="img/aumentar-presencia-en-internet.png" title="Presencia en internet" alt="Aumenta la presencia de tu restaurante en internet">
                            <h3 class="primary-color">Aumenta</h3>
                            <p>
                                la presencia de tu restaurante en internet
                            </p>
                        </div>
                        <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                            <img src="img/renovar-restaurante.png" title="Renovar la imagen" alt="Renueva la imagen de tu negocio">
                            <h3 class="primary-color">Renueva</h3>
                            <p>
                                la imagen de tu negocio
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div class="left">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Digitaliza tu menú</h2>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Ingresa tus platos con información detallada (fotos, descripción, precio ...), habilitalos o inhabilitalos
                            y selecciona tus recomendados. Así tus clientes los podrán ver desde sus dispositvos
                        </p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Comienza ya gratis</a>
                    </div>
                    <div class="right display-mobile">
                        <img src="img/menu.png" title="Ingresa el menú de tu restaurante en comeygana" alt="Ingresa el menú de tu restaurante en comeygana"
                            class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="get-app">
                    <div class="left  display-mobile">
                        <img src="img/premia-a-tus-clientes.png" title="Define las recompensas del restaurante" alt="Define las recompensas del restaurante"
                            class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    </div>
                    <div class="right">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Premia a tus clientes</h2>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Convierte tus platos en recompensas y dale la oportunidad a tus clientes que los rediman comiendo.
                            Cada medalla corresponde a una visita en tu restaurante</p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Conoce más</a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div class="left">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Haz seguimiento a lo redimido</h2>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Podrás ver la información detallada de las recompensas redimidas por los clientes de tu restaurante
                        </p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Empieza ahora</a>
                    </div>
                    <div class="right display-mobile">
                        <img src="img/ordenes-del-dia.png" title="Visualizar las ordenes del día" alt="Visualizar las ordenes del día" class="opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300">
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="opacity-cero revealOnScroll text-align-center section-heading-top" data-animation="fadeInDown" data-timeout="300">
                    <h2 class="section-title">
                        <img src="img/precio.png" alt="Para restaurantes" title="Para restaurantes" />
                        <span>Nuestros precios</span>
                    </h2>
                </div>
                <div class="get-app">
                    <div class="pricing-row">
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                            <div class="transition-shadow shadow s-active">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-gratis.png" alt="Paquete de 2000 puntos totalmente gratis" title="Paquete de 2000 puntos" />
                                    <div class="pricing-label">
                                        <h4>GRATIS</h4>
                                        <h2>$0</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">350</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="primary mat-raised-button">Obtener</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                            <div class="transition-shadow shadow">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-normal.png" alt="Paquete normal de 500 puntos" title="Paquete normal de puntos" />
                                    <div class="pricing-label">
                                        <h4>NORMAL</h4>
                                        <h2>$28.900</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">300</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="disabled mat-raised-button">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="700">
                            <div class="transition-shadow shadow">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-ejecutiva.png" alt="Paquete ejecutiva de 1000 puntos" title="Paquete ejecutiva de puntos" />
                                    <div class="pricing-label">
                                        <h4>EJECUTIVA</h4>
                                        <h2>$34.900</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">500</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="disabled mat-raised-button">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col text-align-center opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="900">
                            <div class="transition-shadow shadow">
                                <div class="thumb-wrap">
                                    <img src="img/paquete-a-la-carta.png" alt="Paquete a la carta de 1000 puntos" title="Paquete a la carta de puntos" />
                                    <div class="pricing-label">
                                        <h4>A LA CARTA</h4>
                                        <h2>$38.900</h2>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <h3>Paquete de</h3>
                                    <h3 style="-webkit-margin-after: 0">700</h3>
                                    <h3 style="-webkit-margin-before: 0;">medallas</h3>
                                </div>
                                <div class="actions-wrap">
                                    <a href="/tienes-un-restaurante" class="disabled mat-raised-button">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear text-align-end opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                    <span>Paga seguro con </span>
                    <a href="https://www.payulatam.com/co/" target="_blank">
                        <img src="img/payu.png" title="Pagos garantizados por Payu" alt="Pagos garantizados por Payu" style="height: 60px">
                    </a>
                </div>
            </div>
        </section>

        <section>
            <div class="container text-align-center">
                <div class="get-app">
                    <div class="init-title">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Tu mismo puedes implementar comeygana, comienza a fidelizar a tus clientes!</h2>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Regístrate sin costo</a>
                    </div>
                </div>
                <img src="img/aplicacion-en-varios-dispositivos.png" title="Aplicación en varios dispositivos" alt="Aplicación en varios dispositivos"
                    class="width opacity-cero revealOnScroll" data-animation="fadeInUp" data-timeout="300">
            </div>
        </section>
    </article>

    <footer class="fixed">
        <div class="container">
            <div class="footer-row">
                <a href="/">
                    <img src="img/logo-comeygana-footer.png" title="comeygana" alt="comeygana">
                </a>
                <span class="app-flex-filler"></span>

                <a href="/">
                    <img src="img/facebook.png" title="comeygana en facebook" alt="comeygana en facebook" class="social-network">
                </a>
            </div>
            <div class="display-flex">
                <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    <h4 class="primary-color">Contáctanos</h4>
                    <p>
                        <strong>Realbind SAS</strong>
                        <br/> +57 () 9897867
                        <br/> Calle 98 #18-71 Piso 2, Bogotá Colombia
                        <br/>
                        <strong>Email:</strong> contacto@realbind.com
                    </p>
                </div>
                <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="400">
                    <h4 class="primary-color">Con apoyo de</h4>
                    <div>
                        <a href="https://hubbog.com/" target="_blank">
                            <img src="img/hubbog.png" title="Con el apoyo de Hubbog" alt="Graduado aceleradora hubbog" class="footer-ca-img">
                        </a>
                        <a href="https://developer.ibm.com/startups/" target="_blank">
                            <img src="img/ibm.png" title="IBM Global Entrepreneur" alt="Con el apoyo de IBM Global Entrepreneur" class="footer-ca-img">
                        </a>
                    </div>
                </div>
                <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                    <a href="https://hubbog.com/" target="_blank" class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                        <img src="img/emblema-acelerados.png" title="Acelerados en Hubbog" alt="Emblema acelerados en Hubbog" class="img-section">
                    </a>
                </div>
            </div>
        </div>
        <div class="copy">
            <span>comeygana © 2018. Todos los derechos reservados</span>
        </div>
    </footer>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="http://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>